  <header class="header-container">
    <div class="row">
      <div class="col-12"> 
        <img src="http://globalci.org/wp-content/themes/gci/images/default.jpg">
        <h2>{{username}}'s Giftlist</h2>
        <p>Lorem ipsum </p>
      </div>
    </div>
  </header>  
  <main class="main-container">
    <div class="row">
      <div class="col-12">       
      {{#each gift}}
        <div class="image">
          <img class="gift-image" src="{{this.imgUrl}}">
        </div> 
        <!-- <div> 
          {{this.name}} 
          <a href="/users/{{@index}}">MoreInfo</a>
          {{this.userId}}<br />
          {{this.category}}<br />
          {{this.description}}<br />
          {{this.price}}<br />
        </div> -->
      {{/each}}
     </div>
    </div>   
  </main>





