<!DOCTYPE html>
<html>
<head>
  <title>My Profile</title>
  <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
  <header class="header-container">
    <div class="row">
      <div class="col-12"> 
        <img src="https://i.kinja-img.com/gawker-media/image/upload/zec3un8rzcmblrdlyswb.JPG">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris dolor sem, posuere et ante a, tincidunt mattis mauris. Vestibulum ac ipsum sed odio pulvinar semper. Morbi pellentesque, nibh eget feugiat tincidunt, ipsum neque cursus massa, eu commodo massa ipsum vitae nulla. Suspendisse congue facilisis tellus vitae pretium. Donec pulvinar, lectus ut dapibus consectetur, libero diam porta arcu, vitae aliquet lectus odio id ante. Nullam gravida orci accumsan, sagittis nisl nec, suscipit diam. Vestibulum et augue elit. Sed a enim et nisl dapibus sollicitudin. Nullam viverra ullamcorper lorem sit amet rhoncus.

        Pellentesque porttitor pulvinar diam sed tempus. Suspendisse id auctor lectus, et rutrum enim. Cras mattis dolor mauris, ac tempus leo convallis vel. Donec accumsan, est ac varius faucibus, risus lectus faucibus eros, quis consequat sapien odio interdum augue. In accumsan aliquet sapien, a faucibus lacus bibendum sit amet. Nunc nulla velit, posuere id accumsan sit amet, faucibus non ante. In hac habitasse platea dictumst. Proin ullamcorper mi a mi hendrerit eleifend. Quisque tempor vitae turpis in sodales. Pellentesque ac posuere sapien. Etiam imperdiet ipsum ut quam placerat varius.</p>
      </div>
    </div>
  </header>
  
  <main class="main-container">
    <div class="row">
      <div class="col-12">
        <h3>Create New Gime</h3>
        <form name="profile-form" method="post" action="/membersonly/profile" accept-charset="utf-8">
          <label for="name">Category</label>
          <select name="category" required />
          <option value=""></option>
          <option value="artsandcrafts">Arts and Crafts</option>
          <option value="auto">Auto</option>
          <option value="beauty">Beauty</option>
          <option value="books">Books</option>
          <option value="clothing">Clothing</option>
          <option value="electronics">Electronics</option>
          <option value="home">Home</option>
          <option value="media">Media</option>
          <option value="kids">Kids and Toys</option>
          <option value="sports">Sports</option> 
          </select>
          <br><br>
          <input type="text" name="picture" placeholder="Type Image url">
          <br />
          <input type="text" name="itemname" placeholder="Item Name" required />
          <br />
          <input type="text" name="description" placeholder="Description" />
          <br />
          <input type="number" name="price" placeholder="Estimated Price">
          <br />
          <button>Create</button>
        </form> 
     </div>
  </main>

  {{#each gift}}
    <p> 
      <div class="image">
        <img class="gift-image" src="{{this.imgUrl}}"><br />
      </div> 
      <div> 
        {{this.name}} <a href="/users/{{@index}}">MoreInfo</a><br />
        {{this.description}}<br />
        {{this.category}}<br />
        {{this.price}}<br />
      </div>

    </p>
  {{/each}}


</body>
</html>



